:root {
  /* colors */
  --Red: hsl(0, 100%, 68%);
  --Very-Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);
  /* fonts */
  --Barlow: "Barlow", sans-serif;
  --Barlow-Condensed: "Barlow Condensed", sans-serif;
  /* other */
  --left-padding: 10.3125rem; /* 165px */
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  background-color: #fff;
  font-family: var(--Barlow);
  font-weight: 400;
  position: relative;
  height: 100%;
}
.uppercase {
  text-transform: uppercase;
}
.monospace {
  color: var(--Grayish-Blue);
  font-family: var(--Barlow-Condensed);
  font-size: 1rem;
  letter-spacing: 0.335rem;
}
a,
h1 {
  color: var(--Very-Dark-Blue);
  font-family: var(--Barlow-Condensed);
  font-weight: 700;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 4rem;
  line-height: 100%;
}
/* navigation */
header {
  width: calc(100% - var(--left-padding));
  position: absolute;
  top: 4rem;
  left: var(--left-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--left-padding);
}
nav {
}
ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}
ul li a {
  font-size: 1rem;
}
ul li a:hover,
ul li a:active {
  border-bottom: 2px solid;
}
.login-link {
  color: var(--Grayish-Blue);
}
ul li:nth-child(4) {
  display: flex;
  margin: auto;
}
ul li span {
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 100%;
  background-color: var(--Grayish-Blue);
}
.hamburger,
.close-menu {
  display: none;
  cursor: pointer;
}
/* main */
main {
  height: 100%;
  display: flex;
  padding-left: var(--left-padding);
}
main section,
main figure {
  height: 43.75rem;
}
.info {
  padding-top: 16rem;
  width: 45%;
  color: var(--Dark-Grayish-Blue);
}
.info .new-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.125rem;
}
.info .new {
  background-color: var(--Very-Dark-Blue);
  color: hsl(0, 0%, 100%);
  border-radius: 0.75rem;
  padding: 0.25rem 0.5625rem;
  font-family: var(--Barlow-Condensed);
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 140%;
  letter-spacing: 0.17em;
}
.info h2 {
  font-weight: 400;
  margin: 2rem 0 4rem 0;
  font-size: 1.125rem;
  line-height: 140%;
}
.cta-box {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.cta-box p {
  letter-spacing: 0.285em;
}

button {
  border: none;
  border-radius: 0.3125rem;
  width: 11.5rem;
  height: 3rem;
  background-color: var(--Red);
  letter-spacing: 0.035em;
  color: #fff;
  font-size: 1.0625rem;
  font-family: var(--Barlow-Condensed);
  font-weight: 700;
  cursor: pointer;
}

button:active {
  opacity: 0.75;
}

.illustration {
  overflow: hidden;
  width: 55%;
  background: url(images/light-bg-desktop.svg) no-repeat;
  background-position: top right;
  background-size: contain;
  padding-top: 13rem;
}

.attribution {
  font-size: 16px;
  margin-top: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
.attribution a {
  color: var(--Red);
  font-family: var(--Barlow-Condensed);
  text-transform: uppercase;
  letter-spacing: 0.044rem;
}

@media screen and (max-width: 1199px) and (min-width: 700px) {
  :root {
    /* other */
    --left-padding: 4rem; /* 256px */
  }

  header {
    top: 3rem;
  }
}
@media screen and (max-width: 899px) {
  .illustration {
    background: url(images/light-bg-mobile.svg) no-repeat;
    background-position: top right;
    background-size: contain;
  }
  .info {
    padding-top: 18rem;
  }
  h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 699px) and (orientation: portrait) {
  :root {
    /* other */
    --left-padding: 2rem; /* 256px */
  }
  .illustration {
    background: url(images/light-bg-mobile.svg) no-repeat;
  }
  header {
    top: 2.375rem;
  }
  main {
    flex-direction: column-reverse;
  }
  main section,
  main figure {
    height: 50vh;
  }
  .info,
  .illustration {
    width: 100%;
  }
  .info {
    padding-top: 1.625rem;
    height: 18.75rem;
  }
  .info h2 {
    margin: 1rem 0 1.75rem 0;
  }
  .illustration {
    background-position: top right;
    background-position-y: -6rem;
    background-size: 58%;
    padding-top: 8.125rem;
  }
  .illustration img {
    height: 15rem;
  }
  button {
    width: 9.625rem;
    height: 2.5rem;
    font-size: 0.875rem;
  }
  .cta-box p {
    font-size: 0.875rem;
    letter-spacing: 0.235rem;
  }
  .hamburger {
    display: block;
  }
  nav {
    padding: 1.625rem 0;
    position: absolute;
    border-radius: 5px;
    box-shadow: -3px 0 5px rgba(99, 99, 99, 0.377),
      3px 0 5px rgba(99, 99, 99, 0.377);
    top: 6.25rem;
    left: 50%;
    width: 19.5rem;
    height: 14.75rem;
    transform: translate(calc(-50% - (var(--left-padding) / 2)), 0);
    display: none;
    background-color: #ffffff;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 0;
    justify-content: space-between;
    height: 100%;
  }
  ul li:nth-child(4) {
    margin: 0;
  }
  ul li span {
    height: 1px;
    width: 16rem;
  }
  .attribution {
    margin: 3rem 0;
    flex-direction: column;
  }
  .monospace {
    font-size: 0.875rem;
    letter-spacing: 0.235rem;
  }
}
@media screen and (max-width: 359px) {
  :root {
    /* other */
    --left-padding: 1.75rem; /* 256px */
  }
  h1 {
    font-size: 2rem;
  }
  main section,
  main figure {
    height: 65vh;
  }
  .illustration {
    background-position-y: -2rem;
  }
  .illustration img {
    height: 12rem;
  }
  .new {
    font-size: 0.75rem;
  }
  .cta-box p,
  .monospace {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 1699px) {
  :root {
    /* other */
    --left-padding: 16rem; /* 256px */
  }
  .info {
    padding-top: 22.75rem;
  }
  .illustration img {
    height: 37.5rem;
    margin-left: 2rem;
  }
  main section {
    height: 52.5rem;
  }
  .attribution {
    margin-top: 3rem;
    font-size: 18px;
    text-align: center;
  }
}
